{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block og %}
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
    {% endblock %}

    <meta property="og:description" content="學生作品展覽"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ data.url }}" />

    <meta name="twitter:description" content='Example Webpage Description' />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ data.url }}" />

    <meta name="theme-color" content="#FF0000">
    <meta name="keywords" content="作品集,作品集展示,靜宜大學"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    <title>{% block title %}作品集展示{% endblock %}</title>

    {% block plugin_css %}
    <link rel="stylesheet" href="{% static 'front/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'front/css/magnific-popup.css' %}">
    {% endblock %}

    {% block add_on %}{% endblock %}

    <script src="{% static 'front/js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'assets/js/core/axios.min.js' %}"></script>
    {% if mode %}
        <script src="{% static 'assets/js/core/vue.global.js' %}"></script>
    {% else %}
        <script src="{% static 'assets/js/core/vue.global.prod.js' %}"></script>
    {% endif %}

</head>
<body>
<div id="fh5co-page">
    <div id="info-button" class="aside-toggle btn-circle">
        <a href="#"><span></span><em>關於</em></a>
    </div>
    <div id="fh5co-aside">
        <div class="image-bg"></div>
        <div class="overlay"></div>
        <div class="row">
            <div class="col-md-12">
                <div id="fh5co-aside-inner">
                    <div class="row" id="fh5co-bio">
                        <div class="col-md-12">
                            <h2>靜宜大學</h2>
                        </div>
                        <div class="col-md-6">
                            <p>Sint, <a href="#">consectetur</a>, fugit. Sed, blanditiis. Autem quae perferendis totam
                                provident, consequuntur inventore reiciendis vitae suscipit rerum repellendus facere
                                voluptatem tenetur iure praesentium corrupti asperiores eos laborum debitis eaque
                                maiores magnam nisi exercitationem sunt maxime! At eligendi deserunt, iusto natus
                                molestias!</p>
                        </div>
                        <div class="col-md-6">
                            <p>Quas praesentium dolore unde delectus, nemo accusantium, qui ab illum debitis assumenda
                                tempore molestias ipsam, eveniet repellendus officiis in vel, explicabo quos
                                necessitatibus atque doloremque. Quae maiores delectus, magnam nam.</p>
                        </div>
                        <div class="col-md-12 fh5co-social">
                            <a href="#"><i class="icon-envelope"></i></a>
                            {#                            <a href="#"><i class="icon-twitter"></i></a>#}
                            {#                            <a href="#"><i class="icon-linkedin"></i></a>#}
                            <a href="#"><i class="icon-instagram"></i></a>
                            <a href="#"><i class="icon-google-plus"></i></a>
                        </div>
                        <div class="col-md-12" style="margin-top: 40px;">
                            <p style="white-space: pre-line">43301臺中市沙鹿區臺灣大道7段200號</p>
                            <p>200, Sec. 7, Taiwan Boulevard, Shalu Dist., Taichung City 43301 Taiwan</p>
                            <p>總機：04-2632-8001 TANet VoIP 網路電話：93160000</p>
                            <p>緊急事件通報專線：04-2652-9595、0921-382-470、19595 (校內分機)</p>
                            <p>Copyright©<a href="https://www.pu.edu.tw">靜宜大學</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="App">{% block content %}{% endblock %}</div>
</div>
{% block plugin_js %}
<script src="{% static 'front/js/jquery.min.js' %}"></script>
<script src="{% static 'front/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'front/js/bootstrap.min.js' %}"></script>
<script src="{% static 'front/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'front/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'front/js/magnific-popup-options.js' %}"></script>
<script src="{% static 'front/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'front/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'front/js/TweenLite.min.js' %}"></script>
<script src="{% static 'front/js/CSSPlugin.min.js' %}"></script>
<script src="{% static 'front/js/EasePack.min.js' %}"></script>
<script src="{% static 'front/js/main.js' %}"></script>
{% endblock %}
{% block script %}
{% endblock %}
</body>
</html>