{% extends 'front_base.html' %}
{% load static %}
{% block og %}
    <meta property="og:title" content="{{ data.title }}"/>
    <meta name="twitter:title" content="{{ data.title }}"/>
    <meta property="og:image" content="{{ data.image }}"/>
    <meta name="twitter:image" content="{{ data.image }}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid" id="fh5co-image-grid">
        <div class="grid">
            <div class="grid-sizer"></div>
            <div v-if="artworksList.length > 0">
                <div class="grid-item item animate-box fadeIn animated-fast" data-animate-effect="fadeIn"
                     v-for="artwork in artworksList">
                    <a :href="`/artworks?id=${artwork.artwork_id}`">
                        <div class="img-wrap">
                            <img :src="artwork.artwork_items[0].artwork_item_image" alt="" class="img-responsive">
                        </div>
                        <div class="text-wrap">
                            <div class="text-inner">
                                <div>
                                    <h2>[[ artwork.product_title ]]</h2>
                                    <span>[[ artwork.artwork_items.length ]] 筆資料</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div v-if="artworksList.length === 0" class="animate-box fadeIn animated-fast">
        <div class="emptyItem">
            <h1 v-show="isCalled">目前沒有藝術作品可供顯示。</h1>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        const app = Vue.createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    isCalled: false,
                    artworksList: []
                }
            },
            created() {
                this.getArtworks()
            },
            methods: {
                getArtworks() {
                    axios.get('/api/artworks')
                        .then(response => {
                            this.isCalled = true
                            this.artworksList = response.data
                            console.log(this.artworksList.length)
                        })
                        .catch(error => {
                            this.isCalled = true
                            console.log(error)
                        })
                }
            }
        })
        app.mount('#App')
    </script>
{% endblock %}