{% extends 'front_base.html' %}
{% load static %}

{% block title %}作品集拼圖{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ data.title }}"/>
    <meta name="twitter:title" content="{{ data.title }}"/>
    <meta property="og:image" content="{{ data.image }}"/>
    <meta name="twitter:image" content="{{ data.image }}"/>
{% endblock %}

{% block add_on %}
    <link rel="stylesheet" href="{% static 'front/css/style.css' %}">
    <script src="{% static 'front/js/headbreaker.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="back-to-home btn-circle">
        <a @click="onReframeClicked"><span></span><em>調整拼圖</em></a>
    </div>
    <div class="puzzle">
        <div id="puzzle-game"></div>
        <img class="puzzle-overlay" id="puzzle-overlay" src="{{ data.image }}" alt=""/>
    </div>
    <img src="{{ data.image }}">
{% endblock %}

{% block script %}
    <script>
        const app = Vue.createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    canvasWidth: window.innerWidth,
                    canvasHeight: window.innerHeight,
                    autogen: null,
                    puzzleImage: null,
                    difficulty: 1.5,
                }
            },
            beforeCreate() {
                document.getElementById("info-button").style.opacity = 0
                document.getElementById("info-button").style.visibility = "hidden"
            },
            created() {
                this.createPuzzle()
            },
            methods: {
                createPuzzle() {
                    this.puzzleImage = new Image()
                    this.puzzleImage.src = '{{ data.image }}'
                    this.puzzleImage.onload = () => {
                        const aspectRatio = this.puzzleImage.width / this.puzzleImage.height

                        // 根据难度动态计算拼图块大小
                        let basePieceSize = 100 // 基础拼图块大小
                        let pieceSize = basePieceSize / this.difficulty // 根据难度调整拼图块大小

                        // 计算最大可能的拼图宽度和高度
                        let maxPuzzleWidth = this.canvasWidth * 0.8
                        let maxPuzzleHeight = this.canvasHeight * 0.8
                        let puzzleWidth = Math.min(this.puzzleImage.width, maxPuzzleWidth)
                        let puzzleHeight = puzzleWidth / aspectRatio

                        if (puzzleHeight > maxPuzzleHeight) {
                            puzzleHeight = maxPuzzleHeight
                            puzzleWidth = puzzleHeight * aspectRatio
                        }

                        // 确保拼图块大小不会导致拼图超过canvas
                        let horizontalPiecesCount = Math.min(Math.floor(puzzleWidth / pieceSize), Math.floor(this.canvasWidth / pieceSize))
                        let verticalPiecesCount = Math.min(Math.floor(puzzleHeight / pieceSize), Math.floor(this.canvasHeight / pieceSize))

                        this.autogen = new headbreaker.Canvas('puzzle-game', {
                            width: this.canvasWidth,
                            height: this.canvasHeight,
                            pieceSize: pieceSize, // 使用动态计算的拼图块大小
                            proximity: 20,
                            borderFill: 10,
                            strokeWidth: 1,
                            lineSoftness: 0.0,
                            preventOffstageDrag: true,
                            fixed: true,
                            image: this.puzzleImage,
                            outline: new headbreaker.outline.Rounded()
                        })

                        this.autogen.adjustImagesToPuzzleHeight()
                        this.autogen.autogenerate({
                            horizontalPiecesCount: horizontalPiecesCount,
                            verticalPiecesCount: verticalPiecesCount
                        })

                        this.autogen.shuffle(0.375)
                        this.autogen.draw()

                        // validate
                        this.autogen.attachSolvedValidator()
                        this.autogen.onValid(() => {
                            setTimeout(() => {
                                document.getElementById("info-button").style.opacity = 1
                                document.getElementById("info-button").style.visibility = "visible"

                                document.getElementById('puzzle-game').style.opacity = 0

                                document.getElementById('puzzle-overlay').classList.add('show')
                                document.getElementById('puzzle-overlay').style.maxWidth = puzzleWidth + 'px'
                                document.getElementById('puzzle-overlay').style.maxHeight = puzzleHeight + 'px'
                            }, 500)
                        })
                    }
                },
                onReframeClicked() {
                    this.autogen.reframeWithinDimensions()
                    this.autogen.solve()
                    this.autogen.redraw()
                }
            }
        })
        app.mount('#App')
    </script>
{% endblock %}
